# 개발 환경 설정
spring:
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
    show-sql: false  # p6spy 사용으로 비활성화

logging:
  level:
    root: INFO
    org.hibernate.SQL: INFO
    org.example.kakaocommunity: DEBUG

# Actuator 설정
management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,metrics
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: petstar